* {
    margin:  0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --grey-dark: rgb(32, 32, 32);
    --black:     #000;
    --backgroud: radial-gradient(circle, var(--grey-dark), var(--black));
    --backgroud-button: radial-gradient(circle, #0A4144, #27e1e4);
    --font-hover: #27e1e4;
    --ice-white: rgb(221,217,206);
}

body{
    width:  100vw;
    height: 100vh;
    
    background: var(--backgroud);
}

.main-container{
    padding: 100px;
}

.header-section{
    background-color: var(--grey-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;

}

.weather-widget {
    width: 160px;
    height: 50px;
    padding: 10px;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    color: var(--ice-white);
}

.weather-widget img{
    position: relative;
    left: 100px;
    top: -45px;
}

#current-date{
    font-size: 25px;
    line-height: 20px;
    letter-spacing: 2px;
    color: var(--ice-white);
    font-family: Arial, sans-serif;
}

#hours{
    font-size: 25px;
    line-height: 20px;
    letter-spacing: 2px;
    color: var(--ice-white);
    font-family: Arial, sans-serif;
}

#task-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--grey-dark);
    margin-top: 20px;
    padding: 10px;
    border-radius: 30px;
}

#input-task{
    width: 60%;
    height: 40px;
    font-size: 20px;
    border-radius: 30px;
    text-align: center;
}

#add-task-button{
    margin-left: 20px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    font-size: 15px;
}

#add-task-button:hover{
    background-color: var(--backgroud-button);
    color: var(--font-hover);
}
