* {
    margin:  0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --grey-dark: rgb(32, 32, 32);
    --black:     #000;
    --backgroud: radial-gradient(circle, var(--grey-dark), var(--black));
    --ice-white: rgb(221,217,206);
}

body{
    width:  100vw;
    height: 100vh;
    
    background: var(--backgroud);
}

.main-container{
    padding: 200px;
}

.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-widget {
    width: 250px;
    height: 50px;
    padding: 10px;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    color: var(--ice-white);
}

.weather-widget img{
    position: relative;
    left: 100px;
    top: -45px;
}

#current-date{
    font-size: 25px;
    line-height: 20px;
    letter-spacing: 2px;
    color: var(--ice-white);
    font-family: Arial, sans-serif;
}